synapse/pipeline/create_sql_views_for_source.json
{
	"name": "create_sql_views_for_source",
	"properties": {
		"activities": [
			{
				"name": "Get folder list 1",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "create sql db unless it already exists",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_ADLS_binary_folder",
						"type": "DatasetReference",
						"parameters": {
							"filesystem": {
								"value": "@pipeline().parameters.filesystem1",
								"type": "Expression"
							},
							"directory": {
								"value": "@pipeline().parameters.sourceDirectory",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get folder list 1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get folder list 1').output.childItems",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "create_view",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "create_view",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"storageAccount": {
										"value": "@pipeline().parameters.storageAccount",
										"type": "Expression"
									},
									"filesystem": {
										"value": "@pipeline().parameters.filesystem1",
										"type": "Expression"
									},
									"sourceDirectory": {
										"value": "@pipeline().parameters.sourceDirectory",
										"type": "Expression"
									},
									"table": {
										"value": "@item().name",
										"type": "Expression"
									},
									"databaseName": {
										"value": "@pipeline().parameters.databaseName",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "create_view_copy3",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "create_view",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"storageAccount": {
										"value": "@pipeline().parameters.storageAccount",
										"type": "Expression"
									},
									"filesystem": {
										"value": "@pipeline().parameters.filesystem1",
										"type": "Expression"
									},
									"sourceDirectory": {
										"value": "@pipeline().parameters.sourceDirectory",
										"type": "Expression"
									},
									"table": {
										"value": "@item().name",
										"type": "Expression"
									},
									"databaseName": {
										"value": "@pipeline().parameters.databaseName",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Get folder list 2",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "create sql db unless it already exists",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_ADLS_binary_folder",
						"type": "DatasetReference",
						"parameters": {
							"filesystem": {
								"value": "@pipeline().parameters.filesystem2",
								"type": "Expression"
							},
							"directory": {
								"value": "@pipeline().parameters.sourceDirectory",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "ForEach1_copy1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get folder list 2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get folder list 2').output.childItems",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "create_view_copy1",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "create_view",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"storageAccount": {
										"value": "@pipeline().parameters.storageAccount",
										"type": "Expression"
									},
									"filesystem": {
										"value": "@pipeline().parameters.filesystem2",
										"type": "Expression"
									},
									"sourceDirectory": {
										"value": "@pipeline().parameters.sourceDirectory",
										"type": "Expression"
									},
									"table": {
										"value": "@{item().name}_lookup",
										"type": "Expression"
									},
									"databaseName": {
										"value": "@pipeline().parameters.databaseName",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "ForEach1_copy2",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get folder list 1').output.childItems",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "create_view_copy2",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "create_view",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"storageAccount": {
										"value": "@pipeline().parameters.storageAccount",
										"type": "Expression"
									},
									"filesystem": {
										"value": "@pipeline().parameters.filesystem1",
										"type": "Expression"
									},
									"sourceDirectory": {
										"value": "@pipeline().parameters.sourceDirectory",
										"type": "Expression"
									},
									"table": {
										"value": "@item().name",
										"type": "Expression"
									},
									"databaseName": {
										"value": "@pipeline().parameters.databaseName",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "create sql db unless it already exists",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "sql",
						"value": "\"IF NOT EXISTS (SELECT * FROM sys.databases WHERE name = '@{pipeline().parameters.databaseName}') BEGIN CREATE DATABASE @{pipeline().parameters.databaseName}; END;\""
					}
				],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_executesql]",
					"storedProcedureParameters": {
						"command": {
							"value": {
								"value": "IF NOT EXISTS (SELECT * FROM sys.databases WHERE name = '@{pipeline().parameters.databaseName}') \nBEGIN\n  CREATE DATABASE @{pipeline().parameters.databaseName}; \nEND;",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SQL_Serverless_OEA",
					"type": "LinkedServiceReference",
					"parameters": {
						"databaseName": "master"
					}
				}
			}
		],
		"parameters": {
			"storageAccount": {
				"type": "string",
				"defaultValue": "stoeacisd3gg1"
			},
			"filesystem1": {
				"type": "string",
				"defaultValue": "stage2np"
			},
			"filesystem2": {
				"type": "string",
				"defaultValue": "stage2np"
			},
			"sourceDirectory": {
				"type": "string",
				"defaultValue": "contoso_sis"
			},
			"databaseName": {
				"type": "string",
				"defaultValue": "sqls2c_contoso_sis"
			}
		},
		"annotations": []
	}
}