synapse/pipeline/Create_SQLS2_DB_For_Source.json
{
	"name": "Create_SQLS2_DB_For_Source",
	"properties": {
		"activities": [
			{
				"name": "Get folders in stage2p",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "create sql db unless it already exists",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_ADLS_binary_folder",
						"type": "DatasetReference",
						"parameters": {
							"filesystem": "stage2p",
							"directory": {
								"value": "@pipeline().parameters.sourceDirectory",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "for each folder",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get folders in stage2p",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get folders in stage2p').output.childItems",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "create view",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "sql",
									"value": "CREATE OR ALTER VIEW @{item()} AS SELECT * FROM OPENROWSET(     BULK 'https://@{pipeline().parameters.storageAccount}.dfs.core.windows.net/@{pipeline().parameters.filesystem}/@{pipeline().parameters.sourceDirectory}/@{item()}',     FORMAT='DELTA' ) AS [r]"
								}
							],
							"typeProperties": {
								"storedProcedureName": "[dbo].[sp_executesql]",
								"storedProcedureParameters": {
									"command": {
										"value": {
											"value": "CREATE OR ALTER VIEW @{item().name} AS\nSELECT * FROM OPENROWSET(\n    BULK 'https://@{pipeline().parameters.storageAccount}.dfs.core.windows.net/stage2p/@{pipeline().parameters.sourceDirectory}/@{item().name}',\n    FORMAT='DELTA'\n) AS [r]",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_SQL_Serverless_OEA",
								"type": "LinkedServiceReference",
								"parameters": {
									"databaseName": {
										"value": "sqls2_@{pipeline().parameters.sourceDirectory}",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "create sql db unless it already exists",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "sql",
						"value": "\"IF NOT EXISTS (SELECT * FROM sys.databases WHERE name = '@{pipeline().parameters.databaseName}') BEGIN CREATE DATABASE @{pipeline().parameters.databaseName}; END;\""
					}
				],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_executesql]",
					"storedProcedureParameters": {
						"command": {
							"value": {
								"value": "IF NOT EXISTS (SELECT * FROM sys.databases WHERE name = '@{pipeline().parameters.databaseName}') \nBEGIN\n  CREATE DATABASE @{pipeline().parameters.databaseName}; \nEND;",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SQL_Serverless_OEA",
					"type": "LinkedServiceReference",
					"parameters": {
						"databaseName": "master"
					}
				}
			},
			{
				"name": "Get folders in stage2np",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "create sql db unless it already exists",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_ADLS_binary_folder",
						"type": "DatasetReference",
						"parameters": {
							"filesystem": "stage2np",
							"directory": {
								"value": "@pipeline().parameters.sourceDirectory",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "for each folder2",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get folders in stage2np",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get folders in stage2np').output.childItems",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "create view_copy1",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "sql",
									"value": "CREATE OR ALTER VIEW @{item()} AS SELECT * FROM OPENROWSET(     BULK 'https://@{pipeline().parameters.storageAccount}.dfs.core.windows.net/@{pipeline().parameters.filesystem}/@{pipeline().parameters.sourceDirectory}/@{item()}',     FORMAT='DELTA' ) AS [r]"
								}
							],
							"typeProperties": {
								"storedProcedureName": "[dbo].[sp_executesql]",
								"storedProcedureParameters": {
									"command": {
										"value": {
											"value": "CREATE OR ALTER VIEW @{item().name} AS\nSELECT * FROM OPENROWSET(\n    BULK 'https://@{pipeline().parameters.storageAccount}.dfs.core.windows.net/stage2np/@{pipeline().parameters.sourceDirectory}/@{item().name}',\n    FORMAT='DELTA'\n) AS [r]",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_SQL_Serverless_OEA",
								"type": "LinkedServiceReference",
								"parameters": {
									"databaseName": {
										"value": "sqls2_@{pipeline().parameters.sourceDirectory}",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"storageAccount": {
				"type": "string",
				"defaultValue": "stoeacisd3gg1"
			},
			"sourceDirectory": {
				"type": "string",
				"defaultValue": "contoso_sis"
			}
		},
		"variables": {
			"filesystem_p": {
				"type": "String",
				"defaultValue": "stage2p"
			},
			"filesystem_np": {
				"type": "String",
				"defaultValue": "stage2np"
			}
		},
		"annotations": []
	}
}