synapse/pipeline/Pipeline 1.json
{
	"name": "Pipeline 1",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_ADLS_binary_folder",
						"type": "DatasetReference",
						"parameters": {
							"filesystem": "stage2p",
							"directory": "contoso_sis"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "create_view",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "create_view",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"storageAccount": {
										"value": "@pipeline().parameters.storageAccount",
										"type": "Expression"
									},
									"filesystem": {
										"value": "@pipeline().parameters.filesystem",
										"type": "Expression"
									},
									"sourceDirectory": {
										"value": "@pipeline().parameters.sourceDirectory",
										"type": "Expression"
									},
									"table": {
										"value": "@item().name",
										"type": "Expression"
									},
									"databaseName": {
										"value": "@pipeline().parameters.databaseName",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"storageAccount": {
				"type": "string",
				"defaultValue": "stoeacisd3gg1"
			},
			"filesystem": {
				"type": "string",
				"defaultValue": "stage2p"
			},
			"sourceDirectory": {
				"type": "string",
				"defaultValue": "contoso_sis"
			},
			"table": {
				"type": "string",
				"defaultValue": "studentattendance"
			},
			"databaseName": {
				"type": "string",
				"defaultValue": "sqls2_contoso_sis"
			}
		},
		"annotations": []
	}
}