synapse/pipeline/Process_all_in_s1_inbound_folder.json
{
	"name": "Process_all_in_s1_inbound_folder",
	"properties": {
		"activities": [
			{
				"name": "list files in inbound folder",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "data_lake_binary",
						"type": "DatasetReference",
						"parameters": {
							"filesystem": "stage1",
							"directory": "<name of data source>/inbound"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "For each file in inbound folder",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "list files in inbound folder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childitems",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Clever_s1_to_s2",
							"type": "SynapseNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebook": {
									"referenceName": "Clever_s1_to_s2",
									"type": "NotebookReference"
								},
								"parameters": {
									"folder_to_process": {
										"value": {
											"value": "inbound/@{item().name}",
											"type": "Expression"
										},
										"type": "string"
									}
								},
								"snapshot": true
							}
						},
						{
							"name": "Move_Files",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Clever_s1_to_s2",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Move_files",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"source_filesystem": "stage1",
									"source_path": {
										"value": "Clever/inbound/@{item().name}",
										"type": "Expression"
									},
									"destination_filesystem": "stage1",
									"destination_path": {
										"value": "Clever/processed/@{item().name}",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "Utils"
		},
		"annotations": [],
		"lastPublishTime": "2021-07-16T20:23:32Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}